/* Table.css */
.table-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.custom-table {
  border-collapse: collapse;
  width: 50%; 
  margin: 10px; 
}

.custom-table th,
.custom-table td {
  border: 1px solid #000;
  padding: 8px;
  text-align: center;
}
